.products{
    .slick-arrow{
        width: 50px;
        height: 50px;
        // background-color: red;
        z-index: 11;
        &::before{
            font-size: 40px;
            color: rgb(160, 160, 160);
            opacity: 1;
        }
    }
    text-transform: capitalize;
    .product{
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        padding: 20px;
        border-radius: 5px;
        margin: 0px 1%;
        width: 97% !important;
        border: 1px solid rgb(179, 179, 179);
       background: linear-gradient(158deg, rgb(216 216 216 / 44%) -81%, rgb(255 255 255) 66%);
        color: rgb(23, 23, 23);
        h4{
            
            text-align: center;
        }
        
        .product_image{
            
            img{
                width: 100px;
                height: 100px;
            }
        }
        .product_buy, .product_price{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .product_price{
            justify-content: space-evenly;
            span{
                padding: 3px;
                font-weight: bold;
                display: block;
                color: white;
                background-color: #040404d5;
                border-radius: 5px;
                &:last-of-type{
                    display: flex;
                    align-items: center;
                }
            }
        }
        .product_buy{
            margin-top: 1rem;
            button{
                cursor: pointer;
                color: white;
                background-color: #040404;
                font-size: 14px;
                padding: 5px;
                font-weight: bold;
                border-radius: 5px;

            }
            svg{
                cursor: pointer;
                width: 26px;
                height: 26px;
            }
        }
    }
}
@media (max-width:720px) {
    .products{
        .slick-arrow{
            &::before{
                font-size: 30px;
            }
        }
        .product{
            padding: 20px 10px;
            .product_image{
                img{
                    height: 70px;
                    width: 70px;
                }
            }
            h4{
                font-size: 12px;
            }
        }
        .product_price{
            span{
                font-size: 14px;
            }
        }
    }
}
@media (max-width:570px) {
    .products{

        .product{
            padding: 25px 10px;
            .product_image{
                img{
                    height: 60px;
                    width: 60px;
                }
            }
            h4{
                font-size: 11px;
            }
        }
        .product_price{
            justify-content: space-between !important;
            span{
                font-size: 11px;
            }
        }
        .product_buy{
            button{
                font-size: 11px !important;
            }
            svg{
                width: 20px !important;
                height: 20px !important;
            }
        }
    }
}