.deal_screen{
    text-transform: capitalize;
    background: black;
    margin-bottom: 5rem;
    padding: 0px 1rem;
    // height: 100vh;
    .slick-arrow{
        &::before{
            font-size: 30px;
        }
    }
    .slick-next{
        transform: translateX(-50%);
    }

    .data_screen_content{
        width: 100%;
        padding: 6rem 0px 0px ;

        display: flex !important;
        justify-content: center !important;
        align-items:center;
        color: white;
        
        .deal_screen_image{
            flex: 1.2;
            img{

                width: 95%;
                height: 95%;
            }
        }
        .deal_screen_data{
            flex: 1;
            text-align: center;
            h2{
                font-size: 40px;
            }
            .deal_screen_price{
                
                span{
                    font-size: 40px;
                    font-weight: 100;
                    &:first-of-type{
                        color: rgba(238, 238, 238, 0.415);
                        text-decoration: line-through;
                        margin-right: 30px;
                    }
                }
            }
            button{
                margin-top: 30px;
                padding: 15px 30px;
                background-color: black;
                color: white;
                font-weight: 700;
                cursor: pointer;
                border: 1px solid white;
                border-radius: 3px;
                transition-duration: 0.3s;
                &:hover{

                    background-color: white;
                    color: black;
                }
            }
        }
    }
}
@media (max-width:904px) {
    .deal_screen{
        .data_screen_content{
            .deal_screen_data{
                h2{
                    font-size: 30px;
                }
                .deal_screen_price{

                    span{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
@media (max-width:691px) {
    .deal_screen{
        .data_screen_content{
            padding-top: 3rem;
            .deal_screen_data{
                h2{
                    font-size: 25px;
                }
                .deal_screen_price{

                    span{
                        font-size: 30px;
                    }
                }
                button{
                    padding: 10px 20px;
                }
            }
        }
    }
}
@media (max-width:584px) {
    .deal_screen{
        .slick-arrow{
            &::before{
                font-size: 22px;
            }
        }
        .data_screen_content{
            padding: 2rem 0px;
            .deal_screen_data{
                h2{
                    font-size: 20px;
                }
                .deal_screen_price{

                    span{
                        font-size: 20px;
                    }
                }
                button{
                    font-size: 11px;
                    padding: 8px 18px;
                }
            }
        }
    }
}
@media (max-width:477px) {
    .deal_screen{

        .data_screen_content{

            .deal_screen_data{
                h2{
                    font-size: 17px;
                }
                .deal_screen_price{

                    span{
                        font-size: 15px;
                    }
                }
                button{
                    font-size: 10px;
                    padding: 8px 16px;
                }
            }
        }
    }
}