.top_categories{
    text-transform: capitalize;
    margin-bottom: 5rem;
    h2{
        font-size: 40px;
    }
    .categories_content{
        .c_c_r_image{
            img{
                width: 40%;
                // height: 50%;
            }
        }
        display: flex;
        gap: 40px;
        justify-content: space-between;
        .c_c_left{
            flex: 1;
            img{
                width: 80%;
            }
        }
        .c_c_right{
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1;
            .c_c_r_top{
                display: flex;
                justify-content: space-between;
                img{
                    width: 60%;
                }
                .c_c_item{
                    padding-bottom: 10px;
                }
            }
        }
        .c_c_item{
            border-radius: 5px;
            color: black;
            background-color: #f5f7f9;
            text-align: center;
            img{
                &:last-of-type{
                    margin-bottom: 10px;
                }
            }
            h4{
                font-size: 20px;
                margin-bottom: 5px;
            }
        }

    }


}
@media (max-width:970px) {
    .top_categories{
        .categories_content{
            .c_c_item{
                h4{
                    font-size: 15px;
                }
            }
        }
    }
}
@media (max-width:650px) {
    .top_categories{
        .categories_content{
            flex-direction: column;
            .c_c_right{
                .c_c_r_top{
                    gap: 10px;
                }
            }
        }
    }
}